
.top
{
    background-color: black;
    color:white;
    border: 10px solid black;
    padding:10px;
    font-weight: bolder;
    display: flex;

}

.ri{
    float:right;
    text-align: right;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    padding: 20px;
}
.logo
{
    background-color: rgb(91, 138, 249);
    font-size: 40px;
    text-align: center;
    margin: 10px;
    padding: 5px 10px;
    color:gold;
    height:50px;
            
}
.col1
{
    color:gold;
    font-size:30px;
}
.col2
{
    color:rgb(133, 248, 104);
    font-size: 45px;
}
a{
    text-decoration: none;
    color:white;
}
a:hover{
    color:rgb(55, 230, 55);
}
.button{
    color:white;
    background-color: black;
    border:none;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    display: inline;
    text-decoration: none;
}
.button:hover{
    color:rgb(55, 230, 55);
    background-color: black;
}
.main
{
    text-align: center;
    margin:30px;
    text-shadow:3px 3px 4px black,2px 2px 3px rgb(55, 230, 55);
    word-spacing: 4px;
    letter-spacing: 3px;
    margin:20px;

}
.box{
    
    border: 10px solid rgb(0, 94, 0);
    box-shadow:3px 3px 5px rgb(36, 0, 0),6px 7px 6px rgb(238, 255, 129);
    border-radius: 50px;
    background-image: linear-gradient(to right,rgb(169, 255, 169),rgb(197, 245, 197),rgb(255, 255, 179),rgb(255, 244, 179),rgb(169, 255, 169),rgb(197, 245, 197));
}
.category
{
    display:flex;
    flex-wrap: wrap;
    margin: 20px;
    margin-left: 100px;
    margin-right: 100px;
    
}
.category>div{
    text-align: center;
    align-items: center;
    align-content: center;
}
.category>button{
    width:500px;
    color:rgb(0, 0, 0);
    background-color: rgb(177, 250, 255);
    margin:40px;
    padding: 20px;
    border:5px solid goldenrod;
    border-radius:50px;
    font-weight: bolder;
    font-size:20px;
    box-shadow:3px 2px 5px rgb(198, 232, 3),2px 3px 4px black;
    text-shadow:3px 3px 4px rgb(0, 151, 0),5px 5px 7px rgb(248, 175, 40);
}
.category>button:hover{
    color: rgb(103, 255, 103);
    background-color: rgb(240, 240, 131);
    border:4px solid rgb(103, 255, 103);
}
.img
{
    display: flex;
    margin-top:50px;
    flex-wrap: wrap;
    
}
.imagebt
{
    text-align: center;
    margin:25px;
    border:15px solid gold;
    background-image: linear-gradient(to right,rgb(190, 251, 243),rgb(144, 224, 238),rgb(106, 238, 255),rgb(144, 224, 238),rgb(190, 251, 243));
    font-size: 25px;
    font-weight: bolder;
   
}
.imagebt>button{
    
    border:3px solid black;
}
.imagebt:hover{
    color:gold;
    border:10px solid green;
 
}

img{
    height: 250px;
    width: 250px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
p>a{
    color: rgb(0, 55, 128);
}
p>a:hover{
    color:gold;
}
.alert {
    padding: 10px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 5px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 12px;
    line-height: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
}